* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.wrapper {
    flex: 1 0 auto;
    padding-bottom: 50px;
}

body {
    background-color: getColor(lightgrey);
    margin: 0;
    font-family: $font-primary;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: center;
    padding: 40px;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}



.square {
    width: 250px;
    height: 250px;
    margin: 15px;
    border-radius: 15px;
}
.square__beige {
    background-color: getColor(offwhite);
}
.square__redBorder {
    background-color: getColor(white);
    border-style: solid;
    border-width: 3px;
    border-color: getColor(lingonberry);
}
.square__whiteBorderRedFill {
    background-color: getColor(lingonberry);
    border-style: solid;
    border-width: 3px;
    border-color: getColor(white);
}